/*Project 2 Styles*/
html {
  color: #333333;
  font-family: "Arial", "Helvetica", sans-serif;
}
body {
  background-color: #f6ccda;
  box-shadow: 5px 10px 20px 15px #9D6B84;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
}
h1 {
  float: left;
  font-family: "Century Gothic", "Arial", "Helvetica", sans-serif;
  margin-left: 10px;
}
h2 {
  font-family: "Century Gothic", "Arial", "Helvetica", sans-serif;
  margin: 0px;
  margin-bottom: 10px;
  margin-top: 15px;
}
h3 {
  font-family: "Century Gothic", "Arial", "Helvetica", sans-serif;
  margin: 0px;
}
.ul-basic {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.hidden {
  /*hides elements*/

  display: none;
}
.off-screen {
  /*hides elements, but keeps accessible to screen readers*/

  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}
.error-message {
  color: red;
  font-size: .7em;
}
.success-message {
  color: green;
  font-size: .7em;
}
a:link,
a:visited {
  color: #60affe;
  text-decoration: none;
}
a:hover {
  color: #333333;
}
#header {
  background-color: #fffafa;
  border: dotted 1px #333333;
  height: 75px;
  margin-top: 30px;
  width: 100%;
}
#main-container {
  background-color: white;
  border: dotted 1px #333333;
  border-top: none;
  height: 400px;
  width: 100%;
}
#login-container {
  border: dotted 1px #333333;
  border-top: none;
  background-color: white;
  height: 400px;
  width: 100%;
}
#login-left {
  background-color: white;
  padding: 10px;
  float: left;
}
#login-right {
  background-color: white;
  padding: 10px;
  float: right;
}
.login-label {
  display: inline-block;
  width: 90px;
}
.register-message {
  font-size: .8em;
}
#nav {
  clear: both;
  float: left;
  font-family: "Century Gothic", "Arial", "Helvetica", sans-serif;
  font-size: .8em;
}
#tab-guts-container {
  border-top: solid 1px grey;
  float: left;
  height: 350px;
  overflow: auto;
  padding: 20px;
  width: 490px;
}
#footer {
  background-color: #fffafa;
  border: dotted 1px #333333;
  border-top: none;
  float: left;
  font-family: "Century Gothic", "Arial", "Helvetica", sans-serif;
  font-size: .6em;
  width: 100%;
}
#footer-guts-parent {
  padding: 3px;
}
#copyright {
  float: left;
}
#version-number {
  float: right;
}
#sign-out-container {
  border: solid 1px #fffafa;
  font-size: .8em;
  float: right;
  height: auto;
  margin-right: 10px;
  margin-top: 30px;
}
ul.nav {
  border-left: solid 1px white;
  border-top: solid 1px grey;
  width: 160px;
}
.nav-bottom {
  background-color: #fffafa;
  border-left: solid 1px white;
  border-right: solid 1px grey;
  height: 169px;
  width: 159px;
}
.nav-link {
  background-color: #eed2ee;
  border-bottom: solid 1px grey;
  border-right: solid 1px grey;
  padding: 10px;
}
.nav-link-hover {
  background-color: white;
  cursor: pointer;
}
.nav-link-selected {
  background-color: white;
  border-right: none;
}
#user-name-container {
  text-align: right;
}
#add-post-input {
  float: right;
  height: 50px;
  margin-top: 20px;
  width: 100%;
}
#add-post-submit {
  float: right;
  margin-bottom: 20px;
  margin-top: 7px;
}
.my-post-parent {
  background-color: #e6e6fa;
  border-bottom: dotted 1px #333333;
  padding: 5px;
}
.other-post-parent {
  background-color: #fffafa;
  border-bottom: dotted 1px #333333;
  padding: 5px;
}
#my-posts-container {
  clear: both;
}
.post-timestamp {
  font-size: .8em;
  font-style: italic;
}
.user-parent {
  display: inline-block;
  width: 150px;
}
.delete-post-btn {
  float: right;
  font-size: .8em;
}
