/*P3 Styles*/
html {
  font-family: "Century Gothic", "Arial", "Helvetica", sans-serif;
}
h1 {
  font-size: 2em;
}
#container {
  background-color: pink;
  height: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 1050px;
}
#header {
  background-color: yellow;
}
#left {
  background-color: green;
  float: left;
  height: 500px;
  width: 30%;
}
#right {
  background-color: purple;
  float: right;
  height: 500px;
  width: 70%;
}
#canvas {
  background-color: white;
  height: 300px;
}
#draggable {
  background-color: blue;
  height: 50px;
  width: 50px;
}
